# AWS S3
AWS_REGION=your-region
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# GCP Storage
GCP_PROJECT_ID=your-project-id
GCP_CREDENTIALS_JSON=./path-to-your-gcp-credentials.json

# Spring Configuration
SPRING_APPLICATION_NAME=yourappname
SERVER_PORT=8080

PROVIDER_IMPL=AWS   # or gcp / azure